In [14]:
from collections import Counter

def find_max_occurrence_element(arr):
    # Count the frequency of each element
    count = Counter(arr)
    # Find the element with the maximum count
    max_element = max(count, key=count.get)
    return max_element

# Example usage
arr = [1, 2, 4, 2, 5, 9, 2]
find_max_occurrence_element(arr)  # Output: 2

2

In [15]:
def find_missing_element(arr, n):
    # Sum of all numbers from 1 to n
    total_sum = n * (n + 1) // 2
    # Sum of the elements in the array
    arr_sum = sum(arr)
    # The missing element is the difference between the total sum and the sum of the array
    return total_sum - arr_sum

# Example usage
arr = [1, 2, 4, 6, 3, 7, 8]
n = 8
find_missing_element(arr, n)  # Output: 5

5

In [16]:
def find_odd_occurrence_element(arr):
    result = 0
    for num in arr:
        result ^= num  # XOR all elements, the result will be the element that occurs odd number of times
    return result

# Example usage
arr = [1, 2, 3, 2, 3, 1, 3]
find_odd_occurrence_element(arr)  # Output: 3

3

In [17]:
def find_pair_with_sum(arr, k):
    seen = set()
    for num in arr:
        complement = k - num
        if complement in seen:
            return (num, complement)
        seen.add(num)
    return None  # No pair found

# Example usage
arr = [1, 2, 3, 4, 5]
k = 6
find_pair_with_sum(arr, k)  # Output: (2, 4)

(4, 2)

In [18]:
def find_closest_to_zero(arr):
    arr.sort()  # Sort the array
    left, right = 0, len(arr) - 1
    closest_sum = float('inf')
    closest_pair = None

    while left < right:
        current_sum = arr[left] + arr[right]
        if abs(current_sum) < abs(closest_sum):
            closest_sum = current_sum
            closest_pair = (arr[left], arr[right])

        if current_sum < 0:
            left += 1
        else:
            right -= 1

    return closest_pair

# Example usage
arr = [1, 60, -10, 70, -80, 85]
find_closest_to_zero(arr)  # Output: (-80, 85)

(-80, 85)

In [19]:
def find_triplet_with_sum(arr, target):
    arr.sort()  # Sort the array
    for i in range(len(arr) - 2):
        left, right = i + 1, len(arr) - 1
        while left < right:
            current_sum = arr[i] + arr[left] + arr[right]
            if current_sum == target:
                return (arr[i], arr[left], arr[right])
            elif current_sum < target:
                left += 1
            else:
                right -= 1
    return None

# Example usage
arr = [1, 2, 3, 4, 5, 6]
target = 10
find_triplet_with_sum(arr, target)  # Output: (1, 4, 5)

(1, 3, 6)

In [20]:
def find_pythagorean_triplet(arr):
    arr.sort()  # Sort the array
    for i in range(len(arr) - 1, 1, -1):  # Traverse backwards
        left, right = 0, i - 1
        while left < right:
            if arr[left]**2 + arr[right]**2 == arr[i]**2:
                return (arr[left], arr[right], arr[i])
            elif arr[left]**2 + arr[right]**2 < arr[i]**2:
                left += 1
            else:
                right -= 1
    return None

# Example usage
arr = [3, 1, 4, 6, 5]
find_pythagorean_triplet(arr)  # Output: (3, 4, 5)

(3, 4, 5)

In [21]:
def find_majority_element(arr):
    count = 0
    candidate = None

    for num in arr:
        if count == 0:
            candidate = num
        count += (1 if num == candidate else -1)

    # Verify if the candidate is actually the majority element
    if arr.count(candidate) > len(arr) // 2:
        return candidate
    return None

# Example usage
arr = [1, 2, 3, 1, 1]
find_majority_element(arr)  # Output: 1

1

In [22]:
def row_with_max_zeros(matrix):
    max_zeros = -1
    row_index = -1

    for i, row in enumerate(matrix):
        zero_count = row.count(0)
        if zero_count > max_zeros:
            max_zeros = zero_count
            row_index = i

    return row_index

# Example usage
matrix = [
    [1, 0, 0, 0],
    [0, 0, 0, 0],
    [1, 1, 1, 0]
]
row_with_max_zeros(matrix)  # Output: 1 (row with the most zeros)

1

In [23]:
def sort_0_1_2(arr):
    low, mid, high = 0, 0, len(arr) - 1

    while mid <= high:
        if arr[mid] == 0:
            arr[low], arr[mid] = arr[mid], arr[low]
            low += 1
            mid += 1
        elif arr[mid] == 1:
            mid += 1
        else:
            arr[mid], arr[high] = arr[high], arr[mid]
            high -= 1

    return arr

# Example usage
arr = [0, 1, 1, 0, 1, 2, 1, 2, 0, 0, 0, 1]
sort_0_1_2(arr)  # Output: [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2]

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 2, 2]