In [6]:
# Task 1: Tower of Hanoi Algorithm
def tower_of_hanoi(n, source, target, auxiliary):
    if n == 1:
        print(f"Move disk 1 from {source} to {target}")
        return
    tower_of_hanoi(n-1, source, auxiliary, target)
    print(f"Move disk {n} from {source} to {target}")
    tower_of_hanoi(n-1, auxiliary, target, source)

# Example usage with 3 disks
n = 3
tower_of_hanoi(n, 'A', 'C', 'B')

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C

In [7]:
# Task 2: Minimum number of operations to convert word1 to word2
def minDistance(word1, word2):
    m, n = len(word1), len(word2)
    dp = [[0] * (n + 1) for _ in range(m + 1)]

    for i in range(m + 1):
        for j in range(n + 1):
            if i == 0:
                dp[i][j] = j  # Insert all characters of word2
            elif j == 0:
                dp[i][j] = i  # Remove all characters of word1
            elif word1[i - 1] == word2[j - 1]:
                dp[i][j] = dp[i - 1][j - 1]  # No operation needed
            else:
                dp[i][j] = 1 + min(dp[i - 1][j], dp[i][j - 1], dp[i - 1][j - 1])  # Insert, Remove, Replace

    return dp[m][n]

# Example usage
word1 = "horse"
word2 = "ros"
print(minDistance(word1, word2))  # Output: 3

3

In [8]:
# Task 3: Print the max value of the array
arr = [13, 1, -3, 22, 5]

# Find the maximum value
max_value = max(arr)
max_value  # Output: 22

22

In [9]:
# Task 4: Find the sum of the values of the array
arr = [92, 23, 15, -20, 10]

# Calculate the sum
sum_values = sum(arr)
sum_values  # Output: 120

120

In [10]:
# Task 5: Check if a number is an Armstrong number
def is_armstrong(num):
    digits = [int(digit) for digit in str(num)]
    power = len(digits)
    armstrong_sum = sum([digit ** power for digit in digits])
    return armstrong_sum == num

# Example usage
num1 = 153
num2 = 134

is_armstrong(num1)  # Output: True
is_armstrong(num2)  # Output: False

False