In [11]:
# Given recurrence relation T(n) = 3T(n-1) + 12n
def T(n):
    if n == 0:
        return 5  # Base case: T(0) = 5
    else:
        return 3 * T(n - 1) + 12 * n  # Recursive step

# Find the value of T(2)
T2 = T(2)
T2  # Output: The value of T(2)

105

In [12]:
# Solve using substitution method: T(n) = T(n-1) + c
def T_substitution_a(n, c):
    if n == 0:
        return 0  # Base case: T(0) = 0
    else:
        return T_substitution_a(n - 1, c) + c

# Example: Find T(5) when c = 2
T_substitution_a(5, 2)

10

In [13]:
# Solve using substitution method: T(n) = 2T(n/2) + n
def T_substitution_b(n):
    if n == 1:
        return 1  # Base case: T(1) = 1
    else:
        return 2 * T_substitution_b(n // 2) + n

# Example: Find T(8)
T_substitution_b(8)

32