**TOPIC: String Based Assignment Problem**

In [2]:
# Question 1 - Write a program to reverse a string.
def reverse_string(s):
    return s[::-1]


s = "Hello"
print(reverse_string(s))

olleH

In [3]:
# Question 2 - Check if a string is a palindrome.
def is_palindrome(s):
    return s == s[::-1]


s = "madam"
print(is_palindrome(s))

True

In [4]:
# Question 3 - Convert a string to uppercase.
def to_uppercase(s):
    return s.upper()


s = "hello"
print(to_uppercase(s))

HELLO

In [5]:
# Question 4 - Convert a string to lowercase.
def to_lowercase(s):
    return s.lower()


s = "HELLO"
print(to_lowercase(s))

hello

In [6]:
# Question 5 - Count the number of vowels in a string.
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)


s = "Hello World"
print(count_vowels(s))

3

In [7]:
# Question 6 - Count the number of consonants in a string.
def count_consonants(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char.isalpha() and char not in vowels)


s = "Hello World"
print(count_consonants(s))

7

In [8]:
# Question 7 - Remove all whitespaces from a string.
def remove_whitespaces(s):
    return s.replace(" ", "")


s = "Hello World"
print(remove_whitespaces(s))

HelloWorld

In [9]:
# Question 8 - Find the length of a string without using the `len()` function.
def string_length(s):
    count = 0
    for char in s:
        count += 1
    return count


s = "Mohd Asif"
print(string_length(s))

9

In [10]:
# Question 9 - Check if a string contains a specific word.
def contains_word(s, word):
    return word in s


s = "Hello World"
word = "World"
print(contains_word(s, word))

True

In [11]:
# Question 10 - Replace a word in a string with another word.
def replace_word(s, old_word, new_word):
    return s.replace(old_word, new_word)


s = "Hello World"
print(replace_word(s, "World", "Python"))

Hello Python

In [12]:
# Question 11 - Count the occurrences of a word in a string.
def count_word_occurrences(s, word):
    return s.split().count(word)


s = "Hello world, hello again"
print(count_word_occurrences(s, "hello"))

1

In [13]:
# Question 12 - Find the first occurrence of a word in a string.
def first_occurrence(s, word):
    return s.find(word)


s = "Hello world"
print(first_occurrence(s, "world"))

6

In [14]:
# Question 13 - Find the last occurrence of a word in a string.
def last_occurrence(s, word):
    return s.rfind(word)


s = "Hello world, hello again"
print(last_occurrence(s, "hello"))

13

In [15]:
# Question 14 - Split a string into a list of words.
def split_string(s):
    return s.split()


s = "Hello world"
print(split_string(s))

['Hello', 'world']

In [16]:
# Question 15 - Join a list of words into a string.
def join_words(word_list):
    return " ".join(word_list)


word_list = ["Hello", "world"]
print(join_words(word_list))

Hello world

In [17]:
# Question 16 - Convert a string where words are separated by spaces to one where words are separated by underscores.
def replace_spaces_with_underscores(s):
    return s.replace(" ", "_")


s = "Hello World"
print(replace_spaces_with_underscores(s))

Hello_World

In [18]:
# Question 17 - Check if a string starts with a specific word or phrase.
def starts_with(s, prefix):
    return s.startswith(prefix)


s = "Hello World"
print(starts_with(s, "Hello"))

True

In [19]:
# Question 18 - Check if a string ends with a specific word or phrase.
def ends_with(s, suffix):
    return s.endswith(suffix)


s = "Hello World"
print(ends_with(s, "World"))

True

In [20]:
# Question 19 - Convert a string to title case.
def to_title_case(s):
    return s.title()


s = "hello world"
print(to_title_case(s))

Hello World

In [21]:
# Question 20 - Find the longest word in a string.
def longest_word(s):
    words = s.split()
    return max(words, key=len)


s = "The quick brown fox"
print(longest_word(s))

quick

In [22]:
# Question 21 - Find the shortest word in a string.
def shortest_word(s):
    words = s.split()
    return min(words, key=len)


s = "The quick brown fox"
print(shortest_word(s))

The

In [23]:
# Question 22 - Reverse the order of words in a string.
def reverse_words(s):
    words = s.split()
    return " ".join(reversed(words))


s = "The quick brown fox"
print(reverse_words(s))

fox brown quick The

In [24]:
# Question 23 - Check if a string is alphanumeric.
def is_alphanumeric(s):
    return s.isalnum()


s = "Hello123"
print(is_alphanumeric(s))

True

In [25]:
# Question 24 - Extract all digits from a string.
def extract_digits(s):
    return "".join([char for char in s if char.isdigit()])


s = "Hello 123 World 456"
print(extract_digits(s))

123456

In [26]:
# Question 25 - Extract all alphabets from a string.
def extract_alphabets(s):
    return "".join([char for char in s if char.isalpha()])


s = "Hello 123 World"
print(extract_alphabets(s))

HelloWorld

In [27]:
# Question 26 - Count the number of uppercase letters in a string.
def count_uppercase(s):
    return sum(1 for char in s if char.isupper())


s = "Hello World"
print(count_uppercase(s))

2

In [28]:
# Question 27 - Count the number of lowercase letters in a string.
def count_lowercase(s):
    return sum(1 for char in s if char.islower())


s = "Hello World"
print(count_lowercase(s))

8

In [29]:
# Question 28 - Swap the case of each character in a string.
def swap_case(s):
    return s.swapcase()


s = "Hello World"
print(swap_case(s))

hELLO wORLD

In [30]:
# Question 29 - Remove a specific word from a string.
def remove_word(s, word):
    return s.replace(word, "")


s = "Hello World"
print(remove_word(s, "World"))

Hello

In [31]:
# Question 30 - Check if a string is a valid email address.
import re

def is_valid_email(s):
    regex = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return bool(re.match(regex, s))


s = "01mohdasif03@gmail.com"
print(is_valid_email(s))

True

In [32]:
# Question 31 - Extract the username from an email address string.
def extract_username(email):
    return email.split('@')[0]


email = "01mohdasif03@gmail.com"
print(extract_username(email))

01mohdasif03

In [33]:
# Question 32 - Extract the domain name from an email address string.
def extract_domain(email):
    return email.split('@')[1]


email = "01mohdasif03@gmail.com"
print(extract_domain(email))

gmail.com

In [34]:
# Question 33 - Replace multiple spaces in a string with a single space.
import re

def replace_multiple_spaces(s):
    return re.sub(' +', ' ', s)


s = "Hello    World    Python"
print(replace_multiple_spaces(s))

Hello World Python

In [35]:
# Question 34 - Check if a string is a valid URL.
import re

def is_valid_url(s):
    regex = r'^(https?|ftp)://[^\s/$.?#].[^\s]*$'
    return bool(re.match(regex, s))


s = "https://example.com"
print(is_valid_url(s))

True

In [36]:
# Question 35 - Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    return url.split("://")[0]


url = "https://example.com"
print(extract_protocol(url))

https

In [37]:
# Question 36 - Find the frequency of each character in a string.
from collections import Counter

def char_frequency(s):
    return dict(Counter(s))


s = "hello"
print(char_frequency(s))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [38]:
# Question 37 - Remove all punctuation from a string.
import string

def remove_punctuation(s):
    return s.translate(str.maketrans("", "", string.punctuation))


s = "Hello, world!"
print(remove_punctuation(s))

Hello world

In [39]:
# Question 38 - Check if a string contains only digits.
def is_digits(s):
    return s.isdigit()


s = "12345"
print(is_digits(s))

True

In [40]:
# Question 39 - Check if a string contains only alphabets.
def is_alpha(s):
    return s.isalpha()


s = "Hello"
print(is_alpha(s))

True

In [41]:
# Question 40 - Convert a string to a list of characters.
def string_to_list(s):
    return list(s)


s = "Hello"
print(string_to_list(s))

['H', 'e', 'l', 'l', 'o']

In [42]:
# Question 41 - Check if two strings are anagrams.
def are_anagrams(s1, s2):
    return sorted(s1) == sorted(s2)


s1 = "listen"
s2 = "silent"
print(are_anagrams(s1, s2))

True

In [43]:
# Question 42 - Encode a string using a Caesar cipher.
def caesar_cipher(s, shift):
    result = ""
    for char in s:
        if char.isalpha():
            shift_base = 65 if char.isupper() else 97
            result += chr((ord(char) - shift_base + shift) % 26 + shift_base)
        else:
            result += char
    return result


s = "Hello"
shift = 3
print(caesar_cipher(s, shift))

Khoor

In [44]:
# Question 43 - Decode a Caesar cipher encoded string.
def decode_caesar_cipher(s, shift):
    return caesar_cipher(s, -shift)


s = "Khoor"
shift = 3
print(decode_caesar_cipher(s, shift))

Hello

In [45]:
# Question 44 - Find the most frequent word in a string.
from collections import Counter

def most_frequent_word(s):
    words = s.split()
    return Counter(words).most_common(1)[0][0]


s = "hello world hello"
print(most_frequent_word(s))

hello

In [46]:
# Question 45 - Find all unique words in a string.
def unique_words(s):
    words = s.split()
    return list(set(words))


s = "hello world hello again"
print(unique_words(s))

['again', 'hello', 'world']

In [47]:
# Question 46 - Count the number of syllables in a string.
import re

def count_syllables(s):
    return len(re.findall(r'[aeiouAEIOU]+', s))


s = "hello world"
print(count_syllables(s))

3

In [48]:
# Question 47 - Check if a string contains any special characters.
import re

def contains_special_chars(s):
    return bool(re.search(r'[^a-zA-Z0-9\s]', s))


s = "Hello@world"
print(contains_special_chars(s))

True

In [49]:
# Question 48 - Remove the nth word from a string.
def remove_nth_word(s, n):
    words = s.split()
    if 0 < n <= len(words):
        del words[n-1]
    return " ".join(words)


s = "The quick brown fox"
n = 2
print(remove_nth_word(s, n))

The brown fox

In [50]:
# Question 49 - Insert a word at the nth position in a string.
def insert_word_at_n(s, n, word):
    words = s.split()
    words.insert(n-1, word)
    return " ".join(words)


s = "The quick brown fox"
n = 3
word = "lazy"
print(insert_word_at_n(s, n, word))

The quick lazy brown fox

In [51]:
# Question 50 - Convert a CSV string to a list of lists.
def csv_to_list(csv_string):
    rows = csv_string.split("\n")
    return [row.split(",") for row in rows]


csv_string = "name,age\nAlice,30\nBob,25"
print(csv_to_list(csv_string))

[['name', 'age'], ['Alice', '30'], ['Bob', '25']]

**List Based Practice Problem :**

In [52]:
# Question 1 - Create a list with integers from 1 to 10.
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
# Question 2 - Find the length of a list without using the `len()` function.
def list_length(lst):
    count = 0
    for item in lst:
        count += 1
    return count

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list_length(numbers))

10

In [54]:
# Question 3 - Append an element to the end of a list.
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [55]:
# Question 4 - Insert an element at a specific index in a list.
numbers = [1, 2, 3, 5]
numbers.insert(3, 4)
print(numbers)

[1, 2, 3, 4, 5]

In [56]:
# Question 5 - Remove an element from a list by its value.
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [57]:
# Question 6 - Remove an element from a list by its index.
numbers = [1, 2, 3, 4, 5]
del numbers[2]
print(numbers)

[1, 2, 4, 5]

In [58]:
# Question 7 - Check if an element exists in a list.
numbers = [1, 2, 3, 4, 5]
exists = 3 in numbers
print(exists)

True

In [59]:
# Question 8 - Find the index of the first occurrence of an element in a list.
numbers = [1, 2, 3, 4, 3, 5]
index = numbers.index(3)
print(index)

2

In [60]:
# Question 9 - Count the occurrences of an element in a list.
numbers = [1, 2, 3, 4, 3, 5]
count = numbers.count(3)
print(count)

2

In [61]:
# Question 10 - Reverse the order of elements in a list.
numbers = [1, 2, 3, 4, 5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

In [62]:
# Question 11 - Sort a list in ascending order.
numbers = [5, 3, 1, 4, 2]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

In [63]:
# Question 12 - Sort a list in descending order.
numbers = [5, 3, 1, 4, 2]
numbers.sort(reverse=True)
print(numbers)

[5, 4, 3, 2, 1]

In [64]:
# Question 13 - Create a list of even numbers from 1 to 20.
even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [65]:
# Question 14 - Create a list of odd numbers from 1 to 20.
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [66]:
# Question 15 - Find the sum of all elements in a list.
numbers = [1, 2, 3, 4, 5]
sum_numbers = sum(numbers)
print(sum_numbers)

15

In [67]:
# Question 16 - Find the maximum value in a list.
numbers = [1, 2, 3, 4, 5]
max_value = max(numbers)
print(max_value)

5

In [68]:
# Question 17 - Find the minimum value in a list.
numbers = [1, 2, 3, 4, 5]
min_value = min(numbers)
print(min_value)

1

In [69]:
# Question 18 - Create a list of squares of numbers from 1 to 10.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
# Question 19 - Create a list of random numbers.
import random
random_numbers = [random.randint(1, 100) for _ in range(10)]
print(random_numbers)

[21, 39, 86, 36, 100, 38, 9, 44, 48, 77]

In [71]:
# Question 20 - Remove duplicates from a list.
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = list(set(numbers))
print(unique_numbers)

[1, 2, 3, 4, 5]

In [72]:
# Question 21 - Find the common elements between two lists.
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common_elements = list(set(list1) & set(list2))
print(common_elements)

[3, 4]

In [73]:
# Question 22 - Find the difference between two lists.
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
difference = list(set(list1) - set(list2))
print(difference)

[1, 2]

In [74]:
# Question 23 - Merge two lists.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [75]:
# Question 24 - Multiply all elements in a list by 2.
numbers = [1, 2, 3, 4, 5]
multiplied_numbers = [x * 2 for x in numbers]
print(multiplied_numbers)

[2, 4, 6, 8, 10]

In [76]:
# Question 25 - Filter out all even numbers from a list.
numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

[1, 3, 5]

In [77]:
# Question 26 - Convert a list of strings to a list of integers.
strings = ["1", "2", "3"]
integers = list(map(int, strings))
print(integers)

[1, 2, 3]

In [78]:
# Question 27 - Convert a list of integers to a list of strings.
integers = [1, 2, 3]
strings = list(map(str, integers))
print(strings)

['1', '2', '3']

In [79]:
# Question 28 - Flatten a nested list.
nested_list = [[1, 2], [3, 4], [5, 6]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6]

In [80]:
# Question 29 - Create a list of the first 10 Fibonacci numbers.
def fibonacci(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1] + fib[i-2])
    return fib

print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [81]:
# Question 30 - Check if a list is sorted.
numbers = [1, 2, 3, 4, 5]
is_sorted = all(numbers[i] <= numbers[i+1] for i in range(len(numbers)-1))
print(is_sorted)

True

In [82]:
# Question 31 - Rotate a list to the left by `n` positions.
def rotate_left(lst, n):
    return lst[n:] + lst[:n]

numbers = [1, 2, 3, 4, 5]
print(rotate_left(numbers, 2))

[3, 4, 5, 1, 2]

In [83]:
# Question 32 - Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    return lst[-n:] + lst[:-n]

numbers = [1, 2, 3, 4, 5]
print(rotate_right(numbers, 2))

[4, 5, 1, 2, 3]

In [84]:
# Question 33 - Create a list of prime numbers up to 50.
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = [x for x in range(1, 51) if is_prime(x)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [85]:
# Question 34 - Split a list into chunks of size `n`.
def chunk_list(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(chunk_list(numbers, 3))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [86]:
# Question 35 - Find the second largest number in a list.
numbers = [1, 2, 3, 4, 5]
numbers.sort()
second_largest = numbers[-2]
print(second_largest)

4

In [87]:
# Question 36 - Replace every element in a list with its square.
numbers = [1, 2, 3, 4, 5]
squares = [x**2 for x in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [88]:
# Question 37 - Convert a list to a dictionary where list elements become keys and their indices become values.
numbers = ['a', 'b', 'c']
dictionary = {numbers[i]: i for i in range(len(numbers))}
print(dictionary)

{'a': 0, 'b': 1, 'c': 2}

In [89]:
# Question 38 - Shuffle the elements of a list randomly.
import random
numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print(numbers)

[3, 1, 2, 4, 5]

In [90]:
# Question 39 - Create a list of the first 10 factorial numbers.
import math
factorials = [math.factorial(x) for x in range(1, 11)]
print(factorials)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [91]:
# Question 40 - Check if two lists have at least one element in common.
list1 = [1, 2, 3, 4]
list2 = [3, 5, 6]
has_common = bool(set(list1) & set(list2))
print(has_common)

True

In [92]:
# Question 41 - Remove all elements from a list.
numbers = [1, 2, 3, 4, 5]
numbers.clear()
print(numbers)

[]

In [93]:
# Question 42 - Replace negative numbers in a list with 0.
numbers = [-1, 2, -3, 4, -5]
numbers = [max(0, x) for x in numbers]
print(numbers)

[0, 2, 0, 4, 0]

In [94]:
# Question 43 - Convert a string into a list of words.
s = "The quick brown fox"
words = s.split()
print(words)

['The', 'quick', 'brown', 'fox']

In [95]:
# Question 44 - Convert a list of words into a string.
words = ['The', 'quick', 'brown', 'fox']
s = ' '.join(words)
print(s)

The quick brown fox

In [96]:
# Question 45 - Create a list of the first `n` powers of 2.
n = 5
powers_of_two = [2**x for x in range(n)]
print(powers_of_two)

[1, 2, 4, 8, 16]

In [97]:
# Question 46 - Find the longest string in a list of strings.
strings = ["apple", "banana", "kiwi", "orange"]
longest_string = max(strings, key=len)
print(longest_string)

banana

In [98]:
# Question 47 - Find the shortest string in a list of strings.
strings = ["apple", "banana", "kiwi", "orange"]
shortest_string = min(strings, key=len)
print(shortest_string)

kiwi

In [99]:
# Question 48 - Create a list of the first `n` triangular numbers.
def triangular_numbers(n):
    return [sum(range(1, x+1)) for x in range(1, n+1)]

print(triangular_numbers(5))

[1, 3, 6, 10, 15]

In [100]:
# Question 49 - Check if a list contains another list as a subsequence.
def is_subsequence(lst1, lst2):
    it = iter(lst1)
    return all(item in it for item in lst2)

lst1 = [1, 2, 3, 4, 5]
lst2 = [2, 4]
print(is_subsequence(lst1, lst2))

True

In [101]:
# Question 50 - Swap two elements in a list by their indices.
def swap_elements(lst, index1, index2):
    lst[index1], lst[index2] = lst[index2], lst[index1]
    return lst

numbers = [1, 2, 3, 4, 5]
print(swap_elements(numbers, 1, 3))

[1, 4, 3, 2, 5]

**Tuple Based Practice Problem :**

In [102]:
# Question 1 - Create a tuple with integers from 1 to 5.
numbers = tuple(range(1, 6))
print(numbers)

(1, 2, 3, 4, 5)

In [103]:
# Question 2 - Access the third element of a tuple.
numbers = (1, 2, 3, 4, 5)
third_element = numbers[2]
print(third_element)

3

In [104]:
# Question 3 - Find the length of a tuple without using the `len()` function.
def tuple_length(tpl):
    count = 0
    for item in tpl:
        count += 1
    return count

numbers = (1, 2, 3, 4, 5)
print(tuple_length(numbers))

5

In [105]:
# Question 4 - Count the occurrences of an element in a tuple.
numbers = (1, 2, 3, 4, 5, 3, 3)
count = numbers.count(3)
print(count)

3

In [106]:
# Question 5 - Find the index of the first occurrence of an element in a tuple.
numbers = (1, 2, 3, 4, 5, 3)
index = numbers.index(3)
print(index)

2

In [107]:
# Question 6 - Check if an element exists in a tuple.
numbers = (1, 2, 3, 4, 5)
exists = 3 in numbers
print(exists)

True

In [108]:
# Question 7 - Convert a tuple to a list.
numbers = (1, 2, 3, 4, 5)
numbers_list = list(numbers)
print(numbers_list)

[1, 2, 3, 4, 5]

In [109]:
# Question 8 - Convert a list to a tuple.
numbers_list = [1, 2, 3, 4, 5]
numbers_tuple = tuple(numbers_list)
print(numbers_tuple)

(1, 2, 3, 4, 5)

In [110]:
# Question 9 - Unpack the elements of a tuple into variables.
numbers = (1, 2, 3)
a, b, c = numbers
print(a, b, c)

1 2 3

In [111]:
# Question 10 - Create a tuple of even numbers from 1 to 10.
even_numbers = tuple(x for x in range(1, 11) if x % 2 == 0)
print(even_numbers)

(2, 4, 6, 8, 10)

In [112]:
# Question 11 - Create a tuple of odd numbers from 1 to 10.
odd_numbers = tuple(x for x in range(1, 11) if x % 2 != 0)
print(odd_numbers)

(1, 3, 5, 7, 9)

In [113]:
# Question 12 - Concatenate two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated = tuple1 + tuple2
print(concatenated)

(1, 2, 3, 4, 5, 6)

In [114]:
# Question 13 - Repeat a tuple three times.
numbers = (1, 2, 3)
repeated = numbers * 3
print(repeated)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [115]:
# Question 14 - Check if a tuple is empty.
numbers = ()
is_empty = len(numbers) == 0
print(is_empty)

True

In [116]:
# Question 15 - Create a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple)

((1, 2), (3, 4), (5, 6))

In [117]:
# Question 16 - Access the first element of a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
first_element = nested_tuple[0]
print(first_element)

(1, 2)

In [118]:
# Question 17 - Create a tuple with a single element.
single_element_tuple = (1,)
print(single_element_tuple)

(1,)

In [119]:
# Question 18 - Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_equal = tuple1 == tuple2
print(are_equal)

True

In [120]:
# Question 19 - Delete a tuple.
numbers = (1, 2, 3, 4, 5)
del numbers
# print(numbers)  # This will raise an error because 'numbers' is deleted.

In [121]:
# Question 20 - Slice a tuple.
numbers = (1, 2, 3, 4, 5)
sliced = numbers[1:4]
print(sliced)

(2, 3, 4)

In [122]:
# Question 21 - Find the maximum value in a tuple.
numbers = (1, 2, 3, 4, 5)
max_value = max(numbers)
print(max_value)

5

In [123]:
# Question 22 - Find the minimum value in a tuple.
numbers = (1, 2, 3, 4, 5)
min_value = min(numbers)
print(min_value)

1

In [124]:
# Question 23 - Convert a string to a tuple of characters.
string = "hello"
char_tuple = tuple(string)
print(char_tuple)

('h', 'e', 'l', 'l', 'o')

In [125]:
# Question 24 - Convert a tuple of characters to a string.
char_tuple = ('h', 'e', 'l', 'l', 'o')
string = ''.join(char_tuple)
print(string)

hello

In [126]:
# Question 25 - Create a tuple from multiple data types.
mixed_tuple = (1, "apple", 3.14, True)
print(mixed_tuple)

(1, 'apple', 3.14, True)

In [127]:
# Question 26 - Check if two tuples are identical.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 == tuple2
print(are_identical)

True

In [128]:
# Question 27 - Sort the elements of a tuple.
numbers = (5, 3, 1, 4, 2)
sorted_tuple = tuple(sorted(numbers))
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [129]:
# Question 28 - Convert a tuple of integers to a tuple of strings.
numbers = (1, 2, 3, 4, 5)
string_tuple = tuple(map(str, numbers))
print(string_tuple)

('1', '2', '3', '4', '5')

In [130]:
# Question 29 - Convert a tuple of strings to a tuple of integers.
string_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(map(int, string_tuple))
print(int_tuple)

(1, 2, 3, 4, 5)

In [131]:
# Question 30 - Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [132]:
# Question 31 - Flatten a nested tuple.
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple = tuple(item for subtuple in nested_tuple for item in subtuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6)

In [133]:
# Question 32 - Create a tuple of the first 5 prime numbers.
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = tuple(x for x in range(1, 15) if is_prime(x))[:5]
print(primes)

(2, 3, 5, 7, 11)

In [134]:
# Question 33 - Check if a tuple is a palindrome.
numbers = (1, 2, 3, 2, 1)
is_palindrome = numbers == numbers[::-1]
print(is_palindrome)

True

In [135]:
# Question 34 - Create a tuple of squares of numbers from 1 to 5.
squares = tuple(x**2 for x in range(1, 6))
print(squares)

(1, 4, 9, 16, 25)

In [136]:
# Question 35 - Filter out all even numbers from a tuple.
numbers = (1, 2, 3, 4, 5, 6)
odd_numbers = tuple(x for x in numbers if x % 2 != 0)
print(odd_numbers)

(1, 3, 5)

In [137]:
# Question 36 - Multiply all elements in a tuple by 2.
numbers = (1, 2, 3, 4, 5)
doubled_numbers = tuple(x * 2 for x in numbers)
print(doubled_numbers)

(2, 4, 6, 8, 10)

In [138]:
# Question 37 - Create a tuple of random numbers.
import random
random_numbers = tuple(random.randint(1, 100) for _ in range(10))
print(random_numbers)

(78, 58, 4, 41, 62, 3, 35, 89, 67, 77)

In [139]:
# Question 38 - Check if a tuple is sorted.
numbers = (1, 2, 3, 4, 5)
is_sorted = all(numbers[i] <= numbers[i+1] for i in range(len(numbers)-1))
print(is_sorted)

True

In [140]:
# Question 39 - Rotate a tuple to the left by `n` positions.
def rotate_left(tpl, n):
    return tpl[n:] + tpl[:n]

numbers = (1, 2, 3, 4, 5)
rotated = rotate_left(numbers, 2)
print(rotated)

(3, 4, 5, 1, 2)

In [141]:
# Question 40 - Rotate a tuple to the right by `n` positions.
def rotate_right(tpl, n):
    return tpl[-n:] + tpl[:-n]

numbers = (1, 2, 3, 4, 5)
rotated = rotate_right(numbers, 2)
print(rotated)

(4, 5, 1, 2, 3)

In [142]:
# Question 41 - Create a tuple of the first 5 Fibonacci numbers.
def fibonacci(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1] + fib[i-2])
    return tuple(fib)

print(fibonacci(5))

(0, 1, 1, 2, 3)

In [143]:
# Question 42 - Create a tuple from user input.
user_input = tuple(input("Enter values separated by spaces: ").split())
print(user_input)

Enter values separated by spaces: 1,2
('1,2',)

In [144]:
# Question 43 - Swap two elements in a tuple.
def swap_elements(tpl, index1, index2):
    tpl = list(tpl)
    tpl[index1], tpl[index2] = tpl[index2], tpl[index1]
    return tuple(tpl)

numbers = (1, 2, 3, 4, 5)
print(swap_elements(numbers, 1, 3))

(1, 4, 3, 2, 5)

In [145]:
# Question 44 - Reverse the elements of a tuple.
numbers = (1, 2, 3, 4, 5)
reversed_tuple = numbers[::-1]
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [146]:
# Question 45 - Create a tuple of the first `n` powers of 2.
n = 5
powers_of_two = tuple(2**x for x in range(n))
print(powers_of_two)

(1, 2, 4, 8, 16)

In [147]:
# Question 46 - Find the longest string in a tuple of strings.
strings = ("apple", "banana", "kiwi", "orange")
longest_string = max(strings, key=len)
print(longest_string)

banana

In [148]:
# Question 47 - Find the shortest string in a tuple of strings.
strings = ("apple", "banana", "kiwi", "orange")
shortest_string = min(strings, key=len)
print(shortest_string)

kiwi

In [149]:
# Question 48 - Create a tuple of the first `n` triangular numbers.
def triangular_numbers(n):
    return tuple(sum(range(1, x+1)) for x in range(1, n+1))

print(triangular_numbers(5))

(1, 3, 6, 10, 15)

In [150]:
# Question 49 - Check if a tuple contains another tuple as a subsequence.
def is_subsequence(tpl1, tpl2):
    it = iter(tpl1)
    return all(item in it for item in tpl2)

tpl1 = (1, 2, 3, 4, 5)
tpl2 = (2, 4)
print(is_subsequence(tpl1, tpl2))

True

In [151]:
# Question 50 - Create a tuple of alternating 1s and 0s of length `n`.
n = 6
alternating = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating)

(1, 0, 1, 0, 1, 0)

**Set Based Practice Problem :**

In [152]:
# Question 1 - Create a set with integers from 1 to 5.
numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

In [153]:
# Question 2 - Add an element to a set.
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [154]:
# Question 3 - Remove an element from a set.
numbers = {1, 2, 3, 4, 5}
numbers.remove(3)
print(numbers)

{1, 2, 4, 5}

In [155]:
# Question 4 - Check if an element exists in a set.
numbers = {1, 2, 3, 4, 5}
exists = 3 in numbers
print(exists)

True

In [156]:
# Question 5 - Find the length of a set without using the `len()` function.
def set_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

numbers = {1, 2, 3, 4, 5}
print(set_length(numbers))

5

In [157]:
# Question 6 - Clear all elements from a set.
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

In [158]:
# Question 7 - Create a set of even numbers from 1 to 10.
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

In [159]:
# Question 8 - Create a set of odd numbers from 1 to 10.
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers)

{1, 3, 5, 7, 9}

In [160]:
# Question 9 - Find the union of two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2
print(union)

{1, 2, 3, 4, 5}

In [161]:
# Question 10 - Find the intersection of two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection = set1 & set2
print(intersection)

{3}

In [162]:
# Question 11 - Find the difference between two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference = set1 - set2
print(difference)

{1, 2}

In [163]:
# Question 12 - Check if a set is a subset of another set.
set1 = {1, 2}
set2 = {1, 2, 3, 4}
is_subset = set1.issubset(set2)
print(is_subset)

True

In [164]:
# Question 13 - Check if a set is a superset of another set.
set1 = {1, 2, 3, 4}
set2 = {1, 2}
is_superset = set1.issuperset(set2)
print(is_superset)

True

In [165]:
# Question 14 - Create a set from a list.
numbers_list = [1, 2, 3, 4, 5]
numbers_set = set(numbers_list)
print(numbers_set)

{1, 2, 3, 4, 5}

In [166]:
# Question 15 - Convert a set to a list.
numbers_set = {1, 2, 3, 4, 5}
numbers_list = list(numbers_set)
print(numbers_list)

[1, 2, 3, 4, 5]

In [167]:
# Question 16 - Remove a random element from a set.
import random
numbers = {1, 2, 3, 4, 5}
random_element = random.choice(list(numbers))
numbers.remove(random_element)
print(numbers)

{1, 3, 4, 5}

In [168]:
# Question 17 - Pop an element from a set.
numbers = {1, 2, 3, 4, 5}
popped_element = numbers.pop()
print(popped_element, numbers)

1 {2, 3, 4, 5}

In [169]:
# Question 18 - Check if two sets have no elements in common.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
no_common = set1.isdisjoint(set2)
print(no_common)

True

In [170]:
# Question 19 - Find the symmetric difference between two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_diff = set1 ^ set2
print(symmetric_diff)

{1, 2, 4, 5}

In [171]:
# Question 20 - Update a set with elements from another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6}

In [172]:
# Question 21 - Create a set of the first 5 prime numbers.
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

primes = {x for x in range(1, 20) if is_prime(x)}
primes = set(list(primes)[:5])
print(primes)

{2, 3, 5, 7, 11}

In [173]:
# Question 22 - Check if two sets are identical.
set1 = {1, 2, 3}
set2 = {1, 2, 3}
are_identical = set1 == set2
print(are_identical)

True

In [174]:
# Question 23 - Create a frozen set.
frozen_set = frozenset([1, 2, 3, 4, 5])
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [175]:
# Question 24 - Check if a set is disjoint with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)
print(is_disjoint)

True

In [176]:
# Question 25 - Create a set of squares of numbers from 1 to 5.
squares = {x**2 for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}

In [177]:
# Question 26 - Filter out all even numbers from a set.
numbers = {1, 2, 3, 4, 5, 6}
odd_numbers = {x for x in numbers if x % 2 != 0}
print(odd_numbers)

{1, 3, 5}

In [178]:
# Question 27 - Multiply all elements in a set by 2.
numbers = {1, 2, 3, 4, 5}
doubled = {x * 2 for x in numbers}
print(doubled)

{2, 4, 6, 8, 10}

In [179]:
# Question 28 - Create a set of random numbers.
import random
random_numbers = {random.randint(1, 100) for _ in range(10)}
print(random_numbers)

{3, 73, 75, 48, 53, 55, 58, 92, 61, 30}

In [180]:
# Question 29 - Check if a set is empty.
numbers = {1, 2, 3}
is_empty = len(numbers) == 0
print(is_empty)

False

In [181]:
# Question 30 - Create a nested set (hint: use frozenset).
nested_set = {frozenset([1, 2]), frozenset([3, 4])}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [182]:
# Question 31 - Remove an element from a set using the discard method.
numbers = {1, 2, 3, 4, 5}
numbers.discard(3)
print(numbers)

{1, 2, 4, 5}

In [183]:
# Question 32 - Compare two sets.
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_equal = set1 == set2
print(are_equal)

True

In [184]:
# Question 33 - Create a set from a string.
string = "hello"
char_set = set(string)
print(char_set)

{'h', 'l', 'e', 'o'}

In [185]:
# Question 34 - Convert a set of strings to a set of integers.
string_set = {"1", "2", "3", "4", "5"}
int_set = {int(x) for x in string_set}
print(int_set)

{1, 2, 3, 4, 5}

In [186]:
# Question 35 - Convert a set of integers to a set of strings.
int_set = {1, 2, 3, 4, 5}
string_set = {str(x) for x in int_set}
print(string_set)

{'3', '1', '2', '5', '4'}

In [187]:
# Question 36 - Create a set from a tuple.
numbers_tuple = (1, 2, 3, 4, 5)
numbers_set = set(numbers_tuple)
print(numbers_set)

{1, 2, 3, 4, 5}

In [188]:
# Question 37 - Convert a set to a tuple.
numbers_set = {1, 2, 3, 4, 5}
numbers_tuple = tuple(numbers_set)
print(numbers_tuple)

(1, 2, 3, 4, 5)

In [189]:
# Question 38 - Find the maximum value in a set.
numbers = {1, 2, 3, 4, 5}
max_value = max(numbers)
print(max_value)

5

In [190]:
# Question 40 - Create a set from user input.
user_input = input("Enter values separated by spaces: ").split()
user_set = set(user_input)
print(user_set)

Enter values separated by spaces: 1 2
{'1', '2'}

In [191]:
# Question 41 - Check if the intersection of two sets is empty.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_empty = set1 & set2 == set()
print(is_empty)

True

In [192]:
# Question 42 - Create a set of the first 5 Fibonacci numbers.
def fibonacci(n):
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1] + fib[i-2])
    return set(fib)

print(fibonacci(5))

{0, 1, 2, 3}

In [193]:
# Question 43 - Remove duplicates from a list using sets.
numbers_list = [1, 2, 3, 1, 4, 5, 2]
unique_numbers = set(numbers_list)
print(unique_numbers)

{1, 2, 3, 4, 5}

In [194]:
# Question 44 - Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3}
set2 = {3, 2, 1}
are_equal = set1 == set2
print(are_equal)

True

In [195]:
# Question 45 - Create a set of the first `n` powers of 2.
n = 5
powers_of_2 = {2**x for x in range(n)}
print(powers_of_2)

{1, 2, 4, 8, 16}

In [196]:
# Question 46 - Find the common elements between a set and a list.
numbers_set = {1, 2, 3, 4, 5}
numbers_list = [3, 4, 6, 7]
common_elements = numbers_set.intersection(numbers_list)
print(common_elements)

{3, 4}

In [197]:
# Question 47 - Create a set of the first `n` triangular numbers.
def triangular_numbers(n):
    return {sum(range(1, x+1)) for x in range(1, n+1)}

print(triangular_numbers(5))

{1, 3, 6, 10, 15}

In [198]:
# Question 48 - Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4}
set2 = {2, 3}
is_subset = set2.issubset(set1)
print(is_subset)

True

In [199]:
# Question 49 - Create a set of alternating 1s and 0s of length `n`.
n = 6
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
print(alternating_set)

{0, 1}

In [200]:
# Question 50 - Merge multiple sets into one.
set1 = {1, 2}
set2 = {3, 4}
set3 = {5, 6}
merged_set = set1 | set2 | set3
print(merged_set)

{1, 2, 3, 4, 5, 6}